:root{
    --color-point: #0079D6;
    --color-font01: #fff;
    --color-font02: #bbb;
    --color-font03: #777;
    --color-face: #111;
    --color-line01: #666;
    --color-line02: #444;
    --color-line03: #222;
    --spacing: 18px;
}